*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #dadada;
  margin: auto;
  font-size: 100%;
}

.container {
  margin: 10px;
  width: 80%;
}

h1 {
  font-size: 1.5em;
}

div {
  background-color: #dadada;
  padding: 5px 5px;
  float: left;
  margin: 1% 0;
  width: 100%;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 20%;
  }
}
